*,
*::before,
*::after {
    box-sizing: border-box;

}


body {
    text-align: center;
}

html {
    background-image: url(bgbg.png);
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-size: 57.33px;
    color: rgba(255, 255, 255, 0.9);
    margin: 0px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 33.18px;
    color: rgba(255, 255, 255, 0.56);
    margin: 0px;
    margin-top: 16px;
}

a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 33.18px;
    color: rgba(255, 255, 255, 0.64);
    text-decoration: none;
}

.p2 {
    font-family: 'Roboto', sans-serif;
    margin-top: 56px;
    margin-bottom: 32px;
}

.center1 {
    margin: 40% 0%;
}

.tg {
    margin-top: 8px;
}

.tgic {
    vertical-align: top;
    display: inline-block;
    border-radius: 16px;
}


.button {
    font-family: 'Roboto', sans-serif;
    padding: 16px 32px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    transition: 0.72s;
}

.button:hover {
    transform: scale(1.08);
    transition: 0.16s;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.7s ease 0s;
}

.popup:target {
    opacity: 1;
    visibility: visible;
}

.popup:target.popup_content {
    transform: translate(0px, 0px);
    opacity: 1;
}

.popup__area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.popup_body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.popup_content {
    background-color: #101010;
    color: #ffffff;
    max-width: 800px;
    padding: 30px;
    position: relative;
    transition: all 0.7s ease 0s;
    opacity: o;
    transition: translate(0px, -100%);
}

.popup_close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.popup_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 33.18px;
    margin: 0px 0 px 1em 0px;
}

.popup_text {
    margin-top: px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 23.04px;
}

.contact {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 23.04px;
    font-weight: 600;
}

.ptext {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.72);
    margin-top: 40px;

}

.lst {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.72);
    margin-top: 16px;
}